@font-face {
    font-family: 'warpen';
    src: url('../warpen/Warpen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'warpen', sans-serif;
    list-style-type: none;
}

body {
    text-decoration: none;
    color: aliceblue;
    background: url('https://github.com/umar-k56/umar-k56.github.io/blob/main/textures/Cosmic%20Cartography%20(2).png?raw=true') no-repeat center center;
    background-size: auto;
    min-height: 100dvh;
    border: 30px solid rgb(11, 11, 123);
}

h1 {
    font-size: 600%;
    padding-left: 5%;
    padding-top: 5%;
}

.gamelist {
    padding-left: 150px;
    font-size: 100px;
}

h4 {
    padding-left: 80px;
    font-size: 60px;
    font-size: 3rem;
    color: #ffffff;
    animation: ambientMovement 4s infinite alternate;
}

@keyframes ambientMovement {
    0% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
    50% {
        transform: translate(5px, 5px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}


a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 129, 129);
}

.glow:hover {
    color: #ffffff;
    text-shadow: 
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #ffffff,
        0 0 25px #ffffff;
        transition: color 0.02s ease, text-shadow 0.3s ease;
}
